a.mod_blogroll,
a.mod_blogroll:visited {
    color: currentColor;
    text-decoration: none;
}

a.mod_blogroll:hover,
a.mod_blogroll:active {
    color: blue;
    text-decoration: underline;
}

h6.mod_blogroll {
    margin-bottom: 8px;
}

.mod_blogroll_img {
    width: 50px;
    height: 50px;
    margin-top: 0px;
    object-fit: cover;
}

.mod_blogroll_showall_container {
    display: none;
    overflow: auto;
}

.mod_blogroll_showall_button {
    display: inline;
    margin: 2px;
    margin-top: 0px;
    padding: 0;
    border: 0;
    font: inherit;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    color: currentColor;
    float: right;
}

.mod_blogroll_showall_button:hover,
.mod_blogroll_showall_button:active {
    color: blue;
}

.mod_blogroll_author_date_label {
    color: #606060;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0px;
}
